.collect-nav{
  height:0.54rem;
  width:6.4rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  background: #73ba04;
  .navItem{
    height:0.4rem;
    line-height: 0.4rem;
    padding:0.05rem 0.3rem;
    font-size: 0.2rem;
    color: #fff;
    p{
      height:0.45rem;
    }
    .progress{
      display: none;
      height:0.04rem;
      background: #fff;
    }
    .show{
      display: block;
    }
  }
}
