.tab{
  position: fixed;
  top:0;
  left:0;
  width:6.4rem;
  height:0.84rem;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  .led{
    height:0.84rem;
    p{
      font-size: 0.2rem;
      height:0.8rem;
      line-height: 0.85rem;
    }
    .tab-progress{
      display: none;
      height:0.04rem;
      background: #e72519;
    }
    .show{
      display: block;
    }
  }
}
